// done by riverco.de team
@import lib/mixins
@import lib/reset
// @import lib/sprite
// @import lib/svgfont
@import lib/variables
@import lib/slick
@import lib/tooltipster
// 
@import main


html
	height: 100%
	font-size: 16px
	+r(1280)
		font-size: 14px
	+r(992)
		font-size: 14px
	+r(750)
		font-size: 13px
	+r(480)
		font-size: 15px
	&.modal-open
		overflow: hidden
body
	font-family: 'Book'
	background-color: $white
.out
	overflow: hidden
.header
	background-color: $white
	+rem(padding, 13px 20px)
	// height: 100px
	+rem(height, 100px)
	position: fixed
	box-shadow: 0 0 30px rgba(78,78,78,.23)
	z-index: 5
	left: 0
	right: 0
	top: 0
	transform: translateZ(0)
	will-change: transform
	transition: transform .2s
	+r(480)
		+rem(height, 65px)
	&.is-hidden
		transform: translateY(-100%)
		box-shadow: none
	.logo
		+rem(width, 260px)
		+rem(height, 73px)
		background-image: url(../img/icons/logo.png)
		background-size: cover
		display: block
		float: left
		+r(480)
			+rem(width, 150px)
			+rem(height, 41px)
	.navigation
		float: right
		.navigation-item
			font-family: 'Book'
			text-transform: uppercase
			+rem(font-size, 13px)
			color: $black
			transition: color 0.3s ease
			display: inline-block
			vertical-align: middle
			+rem(padding, 29px)
			&:hover
				color: $bordeaux
		+r(992)
			display: none
	.overlay
		text-align: center
		+r(992)
			display: none
	.nav 
		display: inline-block
		position: relative
		.nav-trigger
			display: block
			+rem(padding, 29px 0)
			font-size: 0
			cursor: pointer
			span 
				font-family: "Book"
				+rem(font-size, 13px)
				color: $black
				text-transform: uppercase
				display: inline-block
				vertical-align: middle
				margin-right: 8px
			i 
				display: inline-block
				vertical-align: middle
				width: 8px
				height: 5px
				+arr(8, 5, $black, b)
		.nav-drop
			position: absolute
			+rem(width, 296px)
			+rem(left, -46px)
			top: 100%
			+rem(padding-top, 15px)
			text-align: left
			display: none
			.level
				+rem(padding, 15px 0)
				&.level-1
					border-top: 2px solid $bordeaux
					background-color: $white
					box-shadow: 0px 32px 40px 0px rgba(0, 0, 0, 0.25);
				&.level-2 
					position: absolute
					left: 100%
					+rem(top, 15px)
					background-color: $bordeaux
					+rem(width, 296px)
					bottom: 0
					+rem(padding, 25px 0)
					box-shadow: 0px 32px 40px 0px rgba(0, 0, 0, 0.25)
					overflow: hidden
					display: none
					&::after
						content: ''
						position: absolute
						z-index: 0
						box-shadow: inset 0 0px 40px 0 rgba(0, 0, 0, 0.25)
						+rem(top, -40px)
						+rem(right, -40px)
						+rem(bottom, -40px)
						left: 0
					.level-item
						position: relative
						z-index: 1
						a 
							color: $pink
							+rem(padding, 9px 46px)
							&:hover 
								background-color: transparent
				.level-item
					a 
						font-family: 'Book'
						+rem(font-size, 17px)
						color: $black
						+rem(padding, 15px 46px)
						display: block
						transition: color 0.3s ease, background-color 0.3s ease
						position: relative
						&:hover
							background-color: $bordeaux
							color: $white
					&:hover
						& > a 
							background-color: $bordeaux
							z-index: 5
							color: $white
						[class*="level-"]
							display: block
.l-center
	max-width: 1310px
	padding: 0 15px
	margin: 0 auto
	+clr
	+r(1280)
		max-width: 1170px
	+r(1170)
		max-width: 970px
	+r(992)
		max-width: 750px
	+r(768)
		max-width: 100%
.footer
	.footer-top
		+rem(padding, 58px 0 20px)
		position: relative
		+r(480)
			background-color: $dGrey
			+rem(padding-top, 30px)
		.footer__scale
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			overflow: hidden
			z-index: -1
			&::after
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1d1b+0,1d1d1b+100&1+34,0+100 */
				background: -moz-linear-gradient(top,  rgba(29,29,27,1) 0%, rgba(29,29,27,1) 34%, rgba(29,29,27,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(29,29,27,1) 0%,rgba(29,29,27,1) 34%,rgba(29,29,27,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(29,29,27,1) 0%,rgba(29,29,27,1) 34%,rgba(29,29,27,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1b', endColorstr='#001d1d1b',GradientType=0 ); /* IE6-9 */

			div 
				position: absolute
				width: 100%
				top: 0
				left: 0
				height: 100%
				transform: scale(1)
				transition: transform 5s ease
				background-size: cover
				background-position: 50% 80%
	.contancts
		width: 100%
		text-align: center
		border-top: 1px solid rgba(157,157,156,.35)
		+r(480)
			border-bottom: 1px solid rgba(157,157,156,.35)
			+rem(padding-bottom, 35px)
		+rem(padding, 30px 0)
		.main__phone
			+rem(margin-bottom, 30px)
			span
				font-family: 'Heavy'
				+rem(font-size, 38px)
				color: $white
				+r(480)
					+rem(font-size, 30px)
		.phone__list
			+rem(margin-bottom, 30px)
			li
				font-family: 'Medium'
				+rem(font-size, 17px)
				display: inline-block
				color: $white
				position: relative
				+r(480)
					width: 100%
				&:not(:last-of-type)
					+rem(margin-right, 30px)
					+r(480)
						+rem(margin, 0 0 15px 0)
					&::after
						content: '.'
						position: absolute
						+rem(right, -21px)
						bottom: 0
						+r(480)
							display: none
		.address
			+rem(font-size, 17px)
			color: $lGrey
	.footer-bottom
		+clr
		background-color: $dGrey
		+rem(padding, 58px 0 59px)
		+r(768)
			text-align: center
		+r(480)
			+rem(padding, 0 0 30px)
.footer__nav
	float: left
	font-size: 0
	+r(768)
		float: none
		+rem(margin-bottom, 20px)
	.footer__nav-item
		display: inline-block
		vertical-align: top
		color: $lGrey
		transition: color 0.3s ease
		+rem(font-size, 17px)
		+r(480)
			width: 100%
		&:not(:last-of-type)
			+rem(margin-right, 20px)
			+r(480)
				+rem(margin, 0 0 10px 0)
		&:hover
			color: $white
.developers
	float: right
	+r(768)
		float: none
		display: inline-block
	a
		color: $lGrey
		+rem(font-size, 17px)
		span 
			color: $white
			transition: color 0.3s ease
	&:hover
		span
			color: $bordeaux
.map__catalog
	font-size: 0
	+rem(margin-bottom, 40px)
	.map__catalog-item
		display: inline-block
		vertical-align: top
		width: 16.66%
		+r(992)
			width: 33.33%
			+rem(margin-bottom, 30px)
		+r(768)
			width: 50%
		+r(480)
			width: 100%
		& > li
			padding-right: 15%
			& > a
				+rem(font-size, 24px)
				color: $white
				transition: color 0.3s ease
				+rem(margin-bottom, 25px)
				display: inline-block
				&:hover
					color: $bordeaux
				+r(1170)
					+rem(font-size, 18px)
				+r(992)
					+rem(font-size, 24px)
		ul
			& > li
				padding-right: 20%
				a
					+rem(font-size, 13px)
					color: $white
					transition: color 0.3s ease
					text-transform: uppercase
					+rem(padding, 10px 0)
					display: inline-block
					line-height: 1.6
					+r(480)
						color: $lGrey
					&:hover
						color: $bordeaux
					+r(1170)
						+rem(font-size, 12px)
					+r(992)
						+rem(font-size, 13px)
.intro 
	position: relative
	overflow: hidden
	.intro__cover
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(44,44,41,.3)
	.intro__wrap
		+clr
		height: 100%
		.intro__content
			position: absolute
			z-index: 2
			zoom: 1
			top: 0
			left: 0
			width: 100%
			height: 100%
			text-align: center
			.intro__content-wrap
				position: absolute
				top: 30%
				left: 0
				width: 100%
				transform: translate(0, -50%);
				backface-visibility: hidden
				+r(1024) 
					top: 40%
				.intro__content-lead
					max-width: 1000px
					display: inline-block
					+r(992)
						+rem(padding, 0 30px)
					span
						font-family: 'Heavy'
						+rem(font-size, 48px)
						color: $white
						+r(992)
							+rem(font-size, 35px)
						+r(480)
							+rem(font-size, 28px)
						.red 
							color: #b33727
						.grey
							color: #b7b7b7
		.intro__overlay
			opacity: 0
			visibility: hidden
			left: 100%
			height: 100%
			width: 100%
			top: 0
			transition: background-color 0.3s linear, opacity 0.3s linear, visibility 0.3s linear
			+r(992)
				display: none
			&.visible
				opacity: 0.3
				visibility: visible
				left: 0
				transition: background-color 0.3s linear, opacity 0.3s linear, visibility 0.3s linear
		.intro__hover
			+r(992)
				display: none
			.intro-hover-item
				position: absolute
				z-index: 1
				top: 0
				left: 100%
				width: 20%
				height: 100%
				overflow: hidden
				background-repeat: no-repeat
				background-position: center
				opacity: 0
				visibility: hidden
				transition: opacity 0.3s linear, z-index 0.1s linear, visibility 0.1s linear;
				&.hover
					z-index: 3
					visibility: visible
					opacity: 1
					transition: opacity 0.3s linear, z-index 0.1s linear, visibility 0.1s linear;
				&.hover:nth-of-type(1)
					left: 0
				&.hover:nth-of-type(2)
					left: 20%
				&.hover:nth-of-type(3)
					left: 40%
				&.hover:nth-of-type(4)
					left: 60%
				&.hover:nth-of-type(5)
					left: 80%
				.intro-hover-item__cover 
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					opacity: .46
				.intro-hover-item__content
					position: absolute
					left: 0
					z-index: 2
					color: $white
					width: 100%
					text-align: center
					transition: transform 0.3s linear 0.1s
					.icon
						+rem(width, 100px)
						+rem(height, 100px)
						display: inline-block
						background-color: $lGrey
						border-radius: 100%
						+rem(margin-bottom, 10px)
					.text 
						opacity: 0
						transition: opacity 0.3s linear 0.1s 
					.title
						font-family: 'Medium'
						+rem(font-size, 24px)
						+rem(margin-bottom, 10px)
					.descr
						+rem(font-size, 17px)
						padding: 0 5%
						+rem(margin-bottom, 25px)
				&.hover
					.intro-hover-item__content
						transform: translate(0, -40%)
						transition: transform 0.3s linear 0.1s
						.text 
							opacity: 1
							transition: opacity 0.3s linear 0.1s
	.intro__content-grid
		position: absolute
		top: 50%
		left: 0
		right: 0
		z-index: 3
		+r(1024) 
			display: none
		.intro__content-grid-action
			font-size: 0
			line-height: 0
			white-space: nowrap
			.intro__content-grid-item
				display: inline-block
				vertical-align: middle
				+rem(height, 100px)
				width: 20%
				position: relative
				transition: transform 0.3s linear 0.1s
				span 
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					+rem(width, 100px)
					+rem(height, 100px)
					border-radius: 100%
					background-color: $lGrey
					cursor: pointer
				&.active
					transform: translate(0, -100%)
	.intro__scroll
		position: absolute
		+rem(bottom, 30px)
		left: 50%
		transform: translate(-50%, 0)
		cursor: pointer
		z-index: 2
		.intro-icon
			display: block
			text-align: center
			+rem(margin-bottom, 10px)
			span
				background-image: url(../img/icons/icon-9.png)
				+rem(width, 17px)
				+rem(height, 26px)
				background-size: cover
				display: inline-block
		.intro-text
			span
				+rem(font-size, 17px)
				color: $white
				+rem(letter-spacing, 1px)
.btn
	+rem(height, 35px)
	+rem(border-radius, 17px)
	+rem(line-height, 35px)
	display: inline-block
	background-color: $white
	span
		+rem(font-size, 17px)
		color: $black
		display: block
		+rem(padding, 0 35px)		
		font-family: "Light"
		+rem(letter-spacing, 0.9px)
		+rem(height, 38px)
		+rem(border-radius, 19px)
	&.btn-red
		background-color: $bordeaux
		span
			color: $white

.row
	+rem(padding, 50px 0 0)
	.title
		font-family: "Heavy"
		+rem(font-size, 36px)
		color: $bordeaux
		text-align: center
		+rem(margin, 20px 0 40px)

// .content
// 	&:not(:first-of-type)
// 		border-top: 1px solid #eeeeee

.category-product
	font-size: 0
	+rem(margin-bottom, 50px)
	+r(992)
		text-align: center
	.category-product__item
		display: inline-block
		vertical-align: top
		width: 20%
		+r(992)
			width: 33.33%
			+rem(margin-bottom, 20px)
		+r(568)
			width: 50%
		+r(375)
			width: 100%
		+rem(padding, 5px 5px 20px)
		transition: background-color 0.3s ease
		position: relative
		&:hover
			background-color: $white
			z-index: 2
			.category-product__cover
				+rem(top, -10px)
				+rem(bottom, -5px)
				+rem(left, -5px)
				+rem(right, -5px)
				box-shadow: 0 0 95px rgba(78,78,78,.38)
		.category-product__cover
			position: absolute
			+rem(top, 0)
			+rem(bottom, 0)
			+rem(left, 0)
			+rem(right, 0)
			z-index: -1
			transition: all 0.15s ease
		.image__cover
			+rem(margin-bottom, 15px)
			text-align: center
			+rem(height, 246px)
			overflow: hidden
			position: relative
			img
				max-height: 100%
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				position: absolute
		.category-product__title
			text-align: center
			font-size: 13px
			+rem(padding, 0 25px)
			text-transform: uppercase
			+rem(letter-spacing, 0.5px)
			line-height: 1.5
.cooperation
	font-size: 0
	+rem(margin-bottom, 90px)
	.cooperation__item
		display: inline-block
		vertical-align: top
		width: 33.33%
		+r(992)
			width: 50%
			+rem(margin-bottom, 40px)
		+r(480)
			width: 100%
			text-align: center
		.image__cover
			float: left
			+rem(width, 80px)
			+rem(padding-right, 30px)
			+r(1280)
				float: none
				+rem(margin-bottom, 15px)
			+r(992)
				float: left
			+r(568)
				float: none
				display: inline-block
			img
				max-width: 100%
				+rem(max-height, 50px)
		.overlay
			overflow: hidden
			max-width: 75%
			text-align: left
			+r(568)
				max-width: 95%
			+r(480)
				text-align: center
		.cooperation__title
			font-family: "Medium"
			+rem(font-size, 24px)
			color: $black
		.cooperation__text
			+rem(font-size, 17px)
			color: $lGrey
			line-height: 1.4
.products-popular
	.products-popular__gallery
		position: relative

.rotator-navi
	text-align: center
	.rotator-arrow
		display: inline-block
		vertical-align: middle
		+rem(width, 15px)
		+rem(height, 28px)
		background-size: cover
		cursor: pointer
		&.rotator-arrow__left
			background-image: url(../img/icons/icon-8.png)
		&.rotator-arrow__right
			background-image: url(../img/icons/icon-7.png)
		&.disabled
			opacity: 0.5
			pointer-events: none
	.rotator-counter
		display: inline-block
		vertical-align: middle
		+rem(font-size, 13px)
		+rem(margin, 0 15px)
		.rotator__counter-current, .rotator__counter-separator, .rotator__counter-all
			display: inline-block
			vertical-align: middle
.products-popular
	+rem(margin-bottom, 50px)
	position: relative
	.products-popular__gallery
		+rem(padding, 20px 0 40px)
		+r(768)
			text-align: center
		position: relative
		.rotator-navi
			position: absolute
			+rem(top, -72px)
			+rem(right, 0)
			+r(768)
				position: relative
				top: auto
				+rem(margin-top, 40px)
				display: inline-block
.products-item
	width: 25%
	display: inline-block
	vertical-align: top
	+rem(padding, 0 20px)
	text-align: center
	a 
		display: inline-block
		max-width: 215px
		&:hover
			.products-descr
				.name-collection
					color: $bordeaux
	.image__cover
		+rem(margin-bottom, 25px)
		+rem(height, 420px)
		overflow: hidden
		position: relative
		img
			max-height: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
	.badge
		width: 100%
		text-align: center
		+rem(top, -47px)
		+rem(margin-bottom, -36px)
	.products-descr
		text-align: center
		.name-item
			+rem(font-size, 13px)
			text-transform: uppercase
			font-family: "Light"
			color: $lGrey
			+rem(margin-bottom, 5px)
			+rem(letter-spacing, 0.6px)
		.name-collection
			+rem(font-size, 17px)
			color: $dGrey
			+rem(margin-bottom, 15px)
			transition: color 0.3s ease
		.price
			font-family: "Demi"
			+rem(font-size, 17px)
			color: $dGrey

.products-properties
	font-size: 0
	+rem(margin, 0 -5px 50px)
	+rem(padding-top, 40px)
	+r(992)
		text-align: center
	.products-properties__item
		+rem(padding, 0 5px)
		display: inline-block
		vertical-align: top
		width: 33.33%
		text-align: left
		+r(992)
			width: 50%
			+rem(margin-bottom, 10px)
		+r(568)
			width: 100%
			&:not(:last-of-type)
				+rem(margin-bottom, 40px);
		.image__cover
			position: relative
			// +rem(height, 420px)
			overflow: hidden
			img 
				max-width: 100%
				display: block
				// position: absolute
				// top: 50%
				// left: 50%
				// transform: translate(-50%, -50%)
		.prop
			position: absolute
			+rem(top, 28px)
			+rem(left, 28px)
			+rem(right, 58px)
			.prop-item
				display: inline-block
				vertical-align: middle
				+rem(height, 30px)
				+rem(line-height, 30px)
				font-family: "Light"
				+rem(font-size, 17px)
				color: $dGrey
				background-color: $white
				+rem(border-radius, 15px)
				+rem(padding, 0 10px)
				+rem(letter-spacing, 0.5px)
				+rem(margin-bottom, 10px)
				&:not(:last-of-type)
					+rem(margin-right, 10px)
		.products-properties__descr
			display: inline-block;
			width: 100%
			background-color: $lGrey
			position: relative
			+clr
			+rem(padding, 25px 28px)
			.products-properties__overlay
				display: table
				width: 100%
				height: 100%
				.products-name
					display: table-cell
					vertical-align: middle
					width: 50%
					font-size: 13px
					+rem(letter-spacing, 0.9px)
					text-transform: uppercase
					color: $white
					line-height: 1.5
					font-family: "Light"
					+r(992)
						display: inline-block
						width: 100%
						+rem(padding-bottom, 25px)
					+r(568)
						display: table-cell
						padding-bottom: 0
						width: 50%
					+r(375)
						font-size: 11px
				.products-price 
					display: table-cell
					vertical-align: middle
					width: 50%
					font-family: "Demi"
					font-size: 17px
					color: $white
					text-align: right
					+r(992)
						display: inline-block
						width: auto
						position: absolute
						+rem(right, 28px)
						+rem(bottom, 25px)
					+r(568)
						display: table-cell
						width: 50%
						position: relative
						right: auto
						bottom: auto
					+r(375)
						font-size: 14px
.badge
	position: relative
	.badge-item
		+rem(width, 32px)
		+rem(height, 32px)
		border-radius: 100%
		box-shadow: 0 0 16px rgba(78,78,78,.23)
		display: inline-block
		background-color: $white
		position: relative
		+rem(margin, 0 5px)
		img
			+rem(width, 15px)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

.tooltip 
	display: none
.tooltipster-default
	border: none
	background-color: $white
	box-shadow: 0 0 35px rgba(78,78,78,.23)
	.tooltipster-content
		font-family: "Book"
		color: $dGrey
		+rem(font-size, 13px)
		line-height: 1.4
		+rem(padding, 10px 15px)
.tooltipster-arrow-top 
	.tooltipster-arrow-border
		border-top-color: $white
.secondary-nav
	position: relative
	z-index: 1
	clear: both
	width: 100%
	background-color: #f3f3f3
	transform: translateZ(0)
	will-change: transform
	transition: transform 0.2s
	+rem(height, 75px)
	text-align: center
	+r(992)
		display: none
	+r(480)
		+rem(height, 50px)
	&.fixed
		position: fixed
		+rem(top, 100px)
		&::after
			content: ''
			height: 50px
			background-color: $white
			position: absolute
			top: -50px
			left: 0
			right: 0
		+r(480)
			+rem(top, 65px)
		&.slide-up
			transform: translateY(-100px)
			+r(480)
				transform: translateY(-61px)
	ul
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			+rem(margin, 0 15px)
			a
				font-family: "Light"
				+rem(font-size, 13px)
				color: $dGrey
				text-transform: uppercase
				+rem(letter-spacing, 0.5px)
				display: block
				+rem(padding, 30px 0)
				position: relative
				&.active
					&::after
						content: ""
						position: absolute
						bottom: 0
						left: 0
						right: 0
						background-color: $bordeaux
						height: 2px

.container
	&.secondary-nav-fixed
		+rem(margin-top, 75px)
		+r(992)
			margin-top: 0
		// +r(480)
		// 	+rem(margin-top, 50px)
.head
	+rem(height, 550px)
	+r(480)
		+rem(height, 500px)
	position: relative
	.head-bg
		position: absolute
		top: 0;
		left: 0;
		background-size: cover
		background-position: center
		right: 0
		bottom: 0
		&::after
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(44,44,41,.3)
	.head-wrap
		width: 100%
		max-width: 590px
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center
		.head-title
			font-family: "Heavy"
			+rem(font-size, 48px)
			color: $white
			+rem(margin-bottom, 10px)
			+r(480)
				+rem(font-size, 28px)
.breadcrumbs
	.breadcrumbs-item
		position: relative
		display: inline-block
		&:not(:last-of-type)
			+rem(margin-right, 25px)
			&::after
				content: "—"
				color: $Grey
				position: absolute
				+rem(right, -20px)
		a
			color: $Grey
			+rem(font-size, 17px)
hr
	padding: 0
	margin: 0
	background-color: #eeeeee
	height: 1px
	border: none
	outline: none
	margin: 0 -33.33%
.row
	+clr
.products-preview
	// +rem(margin-bottom, 90px)
	.products-preview__item
		.preview__item-columns
			+rem(padding, 35px 0)
			&.columns-left
				.preview__item-columns-left
					order: 1
				.preview__item-columns-right
					order: 2
			&.columns-right
				.preview__item-columns-left
					order: 2
					+r(992)
						order: 1
				.preview__item-columns-right
					order: 1
					+r(992)
						order: 2
			display: flex
			align-content: center
			align-items: center
			flex-wrap: wrap
			.preview__item-columns-left
				width: 50%
				+r(992)
					width: 100%
					+rem(margin-bottom, 30px)
				img 
					display: block
					max-width: 100%
			.preview__item-columns-right
				width: 50%
				+r(992)
					width: 100%
				+rem(padding, 0 30px)
				text-align: center
				.category
					font-family: "Light"
					font-size: 13px
					text-transform: uppercase
					color: $category
					letter-spacing: 0.9px
					+rem(margin-bottom, 40px)
				.category-material
					font-family: "Medium"
					+rem(font-size, 24px)
					color: $dGrey
					+rem(margin-bottom, 10px)
				.category-descr
					+rem(font-size, 17px)
					color: $categoryDescr
					+rem(max-width, 380px)
					margin: 0 auto 20px
				.price
					font-family: "Demi"
					+rem(font-size, 17px)
					color: $dGrey
					+rem(margin-bottom, 20px)
				.badge
					+rem(margin-bottom, 20px)
.columns
	+clr
	.columns__left
		width: 50%
		float: left
		+r(992)
			width: 100%
			float: none
			+rem(margin-bottom, 40px)
	.columns__right
		width: 50%
		float: right
		+r(992)
			width: 100%
			float: none
.history
	+rem(margin-bottom, 90px)
.video-container
	+rem(padding-right, 70px)
	max-width: 100%
	iframe
		+rem(height, 315px)
	+r(992)
		padding-right: 0
.chronology
	+rem(margin-top, -5px)
	+rem(padding, 0 10px)
	.chronology-item
		padding-right: 11.5%
		&:not(:last-of-type)
			+rem(margin-bottom, 20px)
	.chronology-years
		font-family: "Medium"
		+rem(font-size, 38px)
		color: $dGrey
		+rem(margin-bottom, 10px)
p
	+rem(font-size, 17px)
	color: $categoryDescr
	&:not(:last-of-type)
		+rem(margin-bottom, 10px)
.mission
	+rem(padding, 40px 0 90px)
	+rem(margin-bottom, 90px)
	&::before
		content: ""
		left: -50%
		right: -50%
		bottom: 0
		top: 0
		background-image: url(../img/mission.jpg)
		position: absolute
		background-size: cover
		z-index: -1
	.mission-conteiner
		text-align: center
		+rem(max-width, 1060px)
		margin: 0 auto
		p
			+rem(font-size, 24px)
			color: $black
			+r(768)
				+rem(font-size, 17px)
.sc-section
	position: relative
	+rem(padding, 0 0 40px 0)
	+clr
	&.mission
		+rem(padding, 40px 0 90px)
.reviews
	+rem(margin, 0 0 90px 0)
	font-size: 0
	.reviews-item
		display: inline-block
		width: 50%
		+rem(padding, 70px 100px 75px 50px)
		+r(768)
			+rem(padding-right, 20px)
			+rem(padding-left, 20px)
		position: relative
		&::before
			content: "“"
			+rem(font-size, 400px)
			color: #ececec
			font-family: "Helvetica"
			position: absolute
			+rem(line-height, 315px)
			+rem(top, 0)
			+rem(left, -25px)
			opacity: .64
			z-index: -1
			+r(480)
				+rem(font-size, 300px)
				+rem(left, -20px)
				+rem(top, -15px)
		.reviews-text
			font-family: "Medium"
			+rem(font-size, 24px)
			+rem(margin-bottom, 15px)
			+r(480)
				+rem(font-size, 17px)
		.reviews-author
			+rem(font-size, 17px)
			color: $categoryDescr
.contacts
	+rem(padding, 20px 0 60px)
	font-size: 0
	+r(992)
		+rem(margin-bottom, -40px)
	.contacts-name
		font-family: "Medium"
		+rem(font-size, 24px)
		color: $black
		+rem(margin-bottom, 30px)
		text-align: left
	.contacts-item
		display: inline-block
		vertical-align: top
		width: 25%
		padding-right: 3%
		&:last-of-type
			padding-right: 0
		+r(992)
			width: 50%
			+rem(margin-bottom, 40px)
		+r(480)
			width: 100%
		.contacts-head
			font-family: "Medium"
			+rem(font-size, 24px)
			color: $black
			+rem(margin-bottom, 25px)
.phones
	.phones-item
		+rem(font-size, 17px)
		color: $categoryDescr
		display: inline-block
		width: 100%
		&:not(:last-of-type)
			+rem(margin-bottom, 8px)
.address
	+rem(margin-bottom, 50px)
	&.columns
		.columns__right
			width: 50%
			float: right
			+r(665)
				width: 100%
				float: none
		.columns__left
			width: 50%
			float: left
			+r(665)
				width: 100%
				float: none
	.contacts
		text-align: center
		max-width: 290px
		margin: 0 auto
		+r(665)
			+rem(margin-bottom, 24px)
			padding-bottom: 0
		.contacts-items
			width: 100%
			text-align: left
			+rem(margin-bottom, 25px)
		.location
			position: relative
			+rem(padding-left, 45px)
			&::before
				content: ""
				+rem(width, 16px)
				+rem(height, 24px)
				background-image: url(../img/icons/balloon.png)
				background-size: cover
				position: absolute
				top: 0
				left: 0
		.phones
			position: relative
			+rem(padding-left, 45px)
			&::before
				content: ""
				+rem(width, 20px)
				+rem(height, 24px)
				background-image: url(../img/icons/phone.png)
				background-size: cover
				position: absolute
				top: 0
				left: 0
		.mails
			position: relative
			+rem(padding-left, 45px)
			&::before
				content: ""
				+rem(width, 24px)
				+rem(height, 18px)
				background-image: url(../img/icons/mail.png)
				background-size: cover
				position: absolute
				top: 0
				left: 0
			.mail
				color: $categoryDescr
.mail 
	+rem(font-size, 17px)
	color: $black
[data-modal]
	cursor: pointer

.map
	width: 100%
	+rem(height, 443px)
	// +rem(margin-bottom, 20px)

.modal__wrap
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	background-color: rgba(29,29,27,.4)
	z-index: 50
	font-size: 0
	text-align: center
	display: none
	padding: 20px
	overflow: auto
	&::before
		content: ""
		width: 0
		display: inline-block
		vertical-align:  middle
		height: 100%
	.modal
		+rem(max-width, 564px)
		background-color: $white
		display: inline-block
		vertical-align: middle
		width: 100%
		opacity: 0
		visibility: hidden
		transform: translate(0px, 20%) scale(0.1)
		transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease
		position: relative
		&.modal-front
			+rem(padding, 60px 20px)
			&.open
				opacity: 1
				visibility: visible
				transform: none
		&.modal-back
			+rem(padding, 60px 20px)
			position: absolute
			left: 50%
			top: 20%
			+rem(margin-left, -282px)
			.modal__title
				+rem(margin-bottom, 20px)
			.close
				+rem(font-size, 17px)
				color: $bordeaux
				border-bottom: 1px solid
				display: inline-block
				cursor: pointer
			&.open
				opacity: 1
				visibility: visible
				transform: none
	.modal__title
		font-family: "Heavy"
		+rem(font-size, 38px)
		color: $black
		+rem(margin-bottom, 40px)
		+r(480)
			+rem(font-size, 27px)
	.modal__text
		+rem(max-width, 425px)
		margin: 0 auto 40px
	.form
		+rem(max-width, 314px)
		width: 100%
		margin: 0 auto
		text-align: left
	.btn-close
		+rem(width, 25px)
		+rem(height, 25px)
		background-image: url(../img/icons/cross.png)
		background-size: cover
		position: absolute
		+rem(top, 16px)
		+rem(right, 16px)
		cursor: pointer
.field
	+rem(margin-bottom, 15px)
	.field-head
		+rem(margin-bottom, 10px)
		span
			font-family: "Light"
			font-size: 13px
			text-transform: uppercase
			color: $categoryDescr
	.field-body
		input, textarea
			border: 1px solid #a5a5a5
			+rem(height, 32px)
			+rem(padding, 0 17px)
			color: $dGrey
			width: 100%
			font-family: "Light"
			+rem(font-size, 17px)
			+rem(letter-spacing, 0.9px)
			background-color: #f7f7f7
			&.error
				border-color: $bordeaux
				color: $bordeaux
				background-color: #fdf2f1
		textarea
			resize: none
			+rem(height, 78px)
			+rem(padding, 5px 17px)
	.btn
		margin: 0 auto
		display: block

.search
	display: inline-block
	+rem(max-width, 1060px)
	width: 100%
	+rem(margin-top, 40px)
	+r(768)
		+rem(max-width, 480px)
	.form
		position: relative
		+rem(margin, 0 -235px)
		+r(1080)
			+rem(margin, 0 -100px)
		+r(992)
			+rem(margin, 0 -50px)
		+r(768)
			margin: 0 20px
		.icon
			+rem(width, 18px)
			+rem(height, 19px)
			background-image: url(../img/icons/icon-10.png)
			background-size: cover
			background-repeat: no-repeat
			position: absolute
			+rem(left, 25px)
			+rem(top, 24px)
			display: block
			+r(768)
				display: none
		input
			background-color: $white
			+rem(height, 66px)
			+rem(border-radius, 33px)
			width: 100%
			+rem(padding, 0 200px 0 60px)
			+rem(font-size, 17px)
			+r(768)
				+rem(height, 50px)
				+rem(padding-right, 60px)
		.btn 
			position: absolute
			+rem(right, 15px)
			+rem(top, 16px)
			+rem(min-width, 163px)
			+r(768)
				+rem(width, 50px)
				+rem(height, 50px)
				+rem(top, 0)
				right: 0
				background-image: url(../img/icons/icon-10.png)
				background-size: 20px
				background-position: center
				background-repeat: no-repeat
				+rem(min-width, 18px)
				background-color: transparent
				+rem(border-top-right-radius, 33px)
				+rem(border-bottom-right-radius, 33px)
				span
					display: none
.results
	font-size: 0
	+rem(padding, 0 0 90px 0)
	+rem(margin-bottom, -50px)
	.products-item
		+rem(margin-bottom, 50px)
		+r(992)
			width: 33.33%
		+r(768)
			width: 50%
		+r(480)
			width: 100%
	.no-results
		+rem(font-size, 17px)
		color: $categoryDescr
		+rem(margin-bottom, 60px)
		text-align: center
.dealers
	.columns
		+rem(padding-bottom, 60px)
		.columns__left
			padding-right: 10%
			+r(992)
				padding-right: 0
.dotted
	li
		+rem(padding-left, 34px)
		position: relative
		+rem(font-size, 24px)
		+rem(margin-bottom, 5px)
		+r(480)
			+rem(font-size, 19px)
		color: $black
		&::before
			content: ""
			width: 5px
			height: 5px
			display: block
			position: absolute
			+rem(top, 14px)
			left: 0
			background-color: $black
			+r(480)
				+rem(top, 10px)
.contact-us
	+rem(max-width, 650px)
	width: 100%
	text-align: center
	margin: 0 auto
	p 
		+rem(font-size, 24px)
		+rem(margin-bottom, 25px)
		color: $black
		+r(480)
			+rem(font-size, 19px)
	.phones
		.phones-item
			+rem(font-size, 24px)
			+r(480)
				+rem(font-size, 19px)
			color: $black
	.contact-us__columns
		font-size: 0
		.contact-us__columns-left,
		.contact-us__columns-right
			display: inline-block
			vertical-align: middle
			text-align: center
			width: 50%
			+r(480)
				width: 100%
		.contact-us__columns-left
			+r(480)
				+rem(margin-bottom, 30px)