.mobile__navi
	.mobile__navi-container
		.menu__navi-header
			.close
				span
			.form-container.form-trigger
				form
					.field
						button(class="btn-search" type="button")
					.field
						input(type="text" placeholder="Поиск")
		.menu__content
			ul
				li
					a(href="") Каталог продукции
					ul
						li
							a(href="") Внешние двери и входные конструкции
								i
						li
							a(href="") Интерьерные решения
								i
						li
							a(href="") Встроенные и профильные системы
								i
						li
							a(href="") Специализированные двери
								i
						li
							a(href="") Прозрачные конструкции
								i
						li
							a(href="") Товары народного потребления
				li
					a(href="") О компании
				li
					a(href="") Дилерам
				li
					a(href="") Контактная информация