<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title of template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/screen.css">
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--BEGIN out-->
    <div class="out">
      <header class="header"><a class="logo" href="/"></a>
        <nav class="navigation"><a class="navigation-item" href="#">О компании</a><a class="navigation-item" href="#">Дилерам</a><a class="navigation-item" href="#">Контактная информация</a>
        </nav>
        <div class="overlay">
          <div class="nav">
            <div class="nav-trigger"><span>Каталог продукции </span><i></i></div>
            <div class="nav-drop">
              <ul class="level level-1">
                <li class="level-item"><a href="#">Внешние двери и&nbsp;входные конструкции</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">Входные двери внутренние</a></li>
                    <li class="level-item"><a href="#">Входные группы и наружные двери</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Интерьерные решения</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">Двери со скрытой коробкой</a></li>
                    <li class="level-item"><a href="#">Двери с деревянной коробкой</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Встроенные и профильные системы</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">П-профиль</a></li>
                    <li class="level-item"><a href="#">Г-профиль</a></li>
                    <li class="level-item"><a href="#">ПП-прямой профиль для полок</a></li>
                    <li class="level-item"><a href="#">Т-профиль для скрытой стыковки на модульном подвесном потолке</a></li>
                    <li class="level-item"><a href="#">С-провиль для криволинейных конструкций с освещением</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Специализиро&shy;ванные двери</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">Двери противопожарные</a></li>
                    <li class="level-item"><a href="#">Двери AQUA</a></li>
                    <li class="level-item"><a href="#">Входные для технических помещений</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Прозрачные конструкции</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">Профиль Prea</a></li>
                    <li class="level-item"><a href="#">Стеклянные двери</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Товары народного потребления</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="wrapper"></div>
      <footer class="footer">
        <div class="footer-top">
          <div class="footer__scale">
            <div style="background-image: url(img/footer.jpg)"></div>
          </div>
          <div class="l-center">
            <nav class="map__catalog">
              <ul class="map__catalog-item">
                <li><a href="#">Внешние двери и&nbsp;входные конструкции</a>
                  <ul>
                    <li><a href="#">Входные двери внутренние</a></li>
                    <li><a href="#">Входные группы и наружные двери</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Интерьерные решения</a>
                  <ul>
                    <li><a href="#">Двери со скрытой коробкой</a></li>
                    <li><a href="#">Двери с деревянной коробкой</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Встроенные и&nbsp;профильные системы</a>
                  <ul>
                    <li><a href="#">П-профиль</a></li>
                    <li><a href="#">Г-профиль</a></li>
                    <li><a href="#">ПП-прямой профиль для полок</a></li>
                    <li><a href="#">Т-профиль для скрытой стыковки на модульном подвесном потолке </a></li>
                    <li><a href="#">С-провиль для криволинейных конструкций с освещением</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Специализиро&shy;ванные двери</a>
                  <ul>
                    <li><a href="#">Двери противопожарные</a></li>
                    <li><a href="#">Двери AQUA</a></li>
                    <li><a href="#">Входные для технических помещений</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Прозрачные конструкции</a>
                  <ul>
                    <li><a href="#">Профиль Prea</a></li>
                    <li><a href="#">Стеклянные двери</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Товары народного потребления</a></li>
              </ul>
            </nav>
            <div class="contancts">
              <div class="main__phone"><span>+7 (495) 775 35 68</span></div>
              <ul class="phone__list">
                <li>+7 (495) 775 35 69</li>
                <li>+7 (495) 775 35 68 </li>
                <li>+7 (495) 775 35 68</li>
              </ul>
              <div class="address">г. Москва, РФ, ул. Введенского, д.1, стр.1</div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="l-center">
            <nav class="footer__nav"><a class="footer__nav-item" href="#">О компании</a><a class="footer__nav-item" href="#">Каталог продукции</a><a class="footer__nav-item" href="#">Дилерам</a><a class="footer__nav-item" href="#">Контактная информация</a>
            </nav>
            <div class="developers"><a href="#">Разработка сайта: <span>Flex Media</span></a></div>
          </div>
        </div>
      </footer>
    </div>
    <!--END out-->
  </body>
</html>