<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title of template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/screen.css">
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--BEGIN out-->
    <div class="out">
      <header class="header"><a class="logo" href="/"></a>
        <nav class="navigation"><a class="navigation-item" href="#">О компании</a><a class="navigation-item" href="#">Дилерам</a><a class="navigation-item" href="#">Контактная информация</a>
        </nav>
        <div class="overlay">
          <div class="nav">
            <div class="nav-trigger"><span>Каталог продукции </span><i></i></div>
            <div class="nav-drop">
              <ul class="level level-1">
                <li class="level-item"><a href="#">Внешние двери и&nbsp;входные конструкции</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">Входные двери внутренние</a></li>
                    <li class="level-item"><a href="#">Входные группы и наружные двери</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Интерьерные решения</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">Двери со скрытой коробкой</a></li>
                    <li class="level-item"><a href="#">Двери с деревянной коробкой</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Встроенные и профильные системы</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">П-профиль</a></li>
                    <li class="level-item"><a href="#">Г-профиль</a></li>
                    <li class="level-item"><a href="#">ПП-прямой профиль для полок</a></li>
                    <li class="level-item"><a href="#">Т-профиль для скрытой стыковки на модульном подвесном потолке</a></li>
                    <li class="level-item"><a href="#">С-провиль для криволинейных конструкций с освещением</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Специализиро&shy;ванные двери</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">Двери противопожарные</a></li>
                    <li class="level-item"><a href="#">Двери AQUA</a></li>
                    <li class="level-item"><a href="#">Входные для технических помещений</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Прозрачные конструкции</a>
                  <ul class="level level-2">
                    <li class="level-item"><a href="#">Профиль Prea</a></li>
                    <li class="level-item"><a href="#">Стеклянные двери</a></li>
                  </ul>
                </li>
                <li class="level-item"><a href="#">Товары народного потребления</a></li>
              </ul>
            </div>
          </div>
          <div class="header-search">
            <div class="form">
              <form>
                <div class="field">
                  <button class="btn-search" type="submit"></button>
                </div>
                <div class="field">
                  <input type="text" placeholder="Поиск">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="wrapper">
        <section class="intro" id="intro">
          <div class="intro__cover" style="background-image: url(img/intro.jpg)"></div>
          <div class="intro__wrap">
            <div class="intro__content">
              <div class="intro__content-wrap">
                <div class="intro__content-lead"><span>Откройте возможности дизайна и&nbsp;функциональности дверей <span class="grey">bkt </span><span class="red">home</span></span></div>
              </div>
            </div>
            <div class="intro__overlay"></div>
            <div class="intro__hover">
              <div class="intro-hover-item" style="background-image: url(img/silence.jpg)">
                <div class="intro-hover-item__cover"></div>
                <div class="intro-hover-item__content">
                  <div class="text">
                    <div class="title"><span>Противопожарные</span></div>
                    <div class="descr">По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.</div><a class="btn" href="#"><span>В каталог</span></a>
                  </div>
                </div>
              </div>
              <div class="intro-hover-item" style="background-image: url(img/time.jpg)">
                <div class="intro-hover-item__cover"></div>
                <div class="intro-hover-item__content">
                  <div class="text">
                    <div class="title"><span>Противопожарные</span></div>
                    <div class="descr">По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.</div><a class="btn" href="#"><span>В каталог</span></a>
                  </div>
                </div>
              </div>
              <div class="intro-hover-item" style="background-image: url(img/nature.jpg)">
                <div class="intro-hover-item__cover"></div>
                <div class="intro-hover-item__content">
                  <div class="text">
                    <div class="title"><span>Противопожарные</span></div>
                    <div class="descr">По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.</div><a class="btn" href="#"><span>В каталог</span></a>
                  </div>
                </div>
              </div>
              <div class="intro-hover-item" style="background-image: url(img/fire.jpg)">
                <div class="intro-hover-item__cover"></div>
                <div class="intro-hover-item__content">
                  <div class="text">
                    <div class="title"><span>Противопожарные</span></div>
                    <div class="descr">По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.</div><a class="btn" href="#"><span>В каталог</span></a>
                  </div>
                </div>
              </div>
              <div class="intro-hover-item" style="background-image: url(img/water.jpg)">
                <div class="intro-hover-item__cover"></div>
                <div class="intro-hover-item__content">
                  <div class="text">
                    <div class="title"><span>Противопожарные</span></div>
                    <div class="descr">По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.</div><a class="btn" href="#"><span>В каталог</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="intro__content-grid">
              <div class="intro__content-grid-action">
                <div class="intro__content-grid-item" data-color="#1bcabc"><span></span></div>
                <div class="intro__content-grid-item" data-color="#821bca"><span></span></div>
                <div class="intro__content-grid-item" data-color="#34ca1b"><span></span></div>
                <div class="intro__content-grid-item" data-color="#4f0b00"><span></span></div>
                <div class="intro__content-grid-item" data-color="#0060ff"><span></span></div>
              </div>
            </div>
          </div>
          <div class="intro__scroll">
            <div class="intro-icon"><span></span></div>
            <div class="intro-text"><span>Листайте ниже</span></div>
          </div>
        </section>
        <section class="container">
          <div class="content">
            <div class="l-center">
              <div class="row">
                <div class="title">Популярные категории</div>
                <div class="category-product">
                  <div class="category-product__item">
                    <div class="category-product__cover"></div>
                    <div class="image__cover"><img src="img/image.jpg" alt=""></div>
                    <div class="category-product__title">Входные группы и наружные двери</div>
                  </div>
                  <div class="category-product__item">
                    <div class="category-product__cover"></div>
                    <div class="image__cover"><img src="img/image.jpg" alt=""></div>
                    <div class="category-product__title">Двери AQUA</div>
                  </div>
                  <div class="category-product__item">
                    <div class="category-product__cover"></div>
                    <div class="image__cover"><img src="img/image.jpg" alt=""></div>
                    <div class="category-product__title">Двери со скрытой коробкой</div>
                  </div>
                  <div class="category-product__item">
                    <div class="category-product__cover"></div>
                    <div class="image__cover"><img src="img/image.jpg" alt=""></div>
                    <div class="category-product__title">Входные группы и наружные двери</div>
                  </div>
                  <div class="category-product__item">
                    <div class="category-product__cover"></div>
                    <div class="image__cover"><img src="img/image.jpg" alt=""></div>
                    <div class="category-product__title">Входные двери внутренние</div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="cooperation">
                  <div class="cooperation__item">
                    <div class="image__cover"><img src="img/icons/icon-1.png"></div>
                    <div class="overlay">
                      <div class="cooperation__title">Качество</div>
                      <div class="cooperation__text">Мы используем только безупречные материалы в производстве дверей</div>
                    </div>
                  </div>
                  <div class="cooperation__item">
                    <div class="image__cover"><img src="img/icons/icon-2.png"></div>
                    <div class="overlay">
                      <div class="cooperation__title">10 лет гарантии</div>
                      <div class="cooperation__text">Полное гарантийное обслуживание с момента покупки</div>
                    </div>
                  </div>
                  <div class="cooperation__item">
                    <div class="image__cover"><img src="img/icons/icon-3.png"></div>
                    <div class="overlay">
                      <div class="cooperation__title">Современный дизайн</div>
                      <div class="cooperation__text">Используется при изготовлении наших дверей, не гниёт и очень долговечно</div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="title">Популярные товары</div>
                <div class="products-popular">
                  <div class="products-popular__gallery">
                    <div class="products-gallery">
                      <div class="products-item"><a href="#">
                          <div class="image__cover"><img src="img/door.jpg" alt=""></div>
                          <div class="badge">
                            <div class="badge-item tips" aria-describedby="tip1">
                              <div class="tooltip" id="tip1" role="tooltip">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
                              </div><img src="img/icons/icon-4.png">
                            </div>
                            <div class="badge-item tips" aria-describedby="tip2">
                              <div class="tooltip" id="tip2" role="tooltip">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
                              </div><img src="img/icons/icon-5.png">
                            </div>
                          </div>
                          <div class="products-descr">
                            <div class="name-item">Двери с деревянной коробкой</div>
                            <div class="name-collection">Морфей</div>
                            <div class="price">от 21 000Р</div>
                          </div></a></div>
                      <div class="products-item"><a href="#">
                          <div class="image__cover"><img src="img/door.jpg" alt=""></div>
                          <div class="badge">
                            <div class="badge-item"><img src="img/icons/icon-6.png"></div>
                          </div>
                          <div class="products-descr">
                            <div class="name-item">Двери с деревянной коробкой</div>
                            <div class="name-collection">Морфей</div>
                            <div class="price">от 21 000Р</div>
                          </div></a></div>
                      <div class="products-item"><a href="#">
                          <div class="image__cover"><img src="img/door.jpg" alt=""></div>
                          <div class="badge">
                            <div class="badge-item"><img src="img/icons/icon-4.png"></div>
                            <div class="badge-item"><img src="img/icons/icon-5.png"></div>
                            <div class="badge-item"><img src="img/icons/icon-6.png"></div>
                          </div>
                          <div class="products-descr">
                            <div class="name-item">Двери с деревянной коробкой</div>
                            <div class="name-collection">Морфей</div>
                            <div class="price">от 21 000Р</div>
                          </div></a></div>
                      <div class="products-item"><a href="#">
                          <div class="image__cover"><img src="img/door.jpg" alt=""></div>
                          <div class="badge">
                            <div class="badge-item"><img src="img/icons/icon-4.png"></div>
                            <div class="badge-item"><img src="img/icons/icon-6.png"></div>
                          </div>
                          <div class="products-descr">
                            <div class="name-item">Двери с деревянной коробкой</div>
                            <div class="name-collection">Морфей</div>
                            <div class="price">от 21 000Р</div>
                          </div></a></div>
                      <div class="products-item"><a href="#">
                          <div class="image__cover"><img src="img/door.jpg" alt=""></div>
                          <div class="badge">
                            <div class="badge-item"><img src="img/icons/icon-4.png"></div>
                            <div class="badge-item"><img src="img/icons/icon-5.png"></div>
                            <div class="badge-item"><img src="img/icons/icon-6.png"></div>
                          </div>
                          <div class="products-descr">
                            <div class="name-item">Двери с деревянной коробкой</div>
                            <div class="name-collection">Морфей</div>
                            <div class="price">от 21 000Р</div>
                          </div></a></div>
                      <div class="products-item"><a href="#">
                          <div class="image__cover"><img src="img/door.jpg" alt=""></div>
                          <div class="badge">
                            <div class="badge-item"><img src="img/icons/icon-4.png"></div>
                            <div class="badge-item"><img src="img/icons/icon-5.png"></div>
                            <div class="badge-item"><img src="img/icons/icon-6.png"></div>
                          </div>
                          <div class="products-descr">
                            <div class="name-item">Двери с деревянной коробкой</div>
                            <div class="name-collection">Морфей</div>
                            <div class="price">от 21 000Р</div>
                          </div></a></div>
                    </div>
                    <div class="rotator-navi">
                      <div class="rotator-arrow rotator-arrow__left"></div>
                      <div class="rotator-counter">
                        <div class="rotator__counter-current">1</div>
                        <div class="rotator__counter-separator">/</div>
                        <div class="rotator__counter-all">4</div>
                      </div>
                      <div class="rotator-arrow rotator-arrow__right"></div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="title">Специальные свойства</div>
                <div class="products-properties">
                  <div class="products-properties__item">
                    <div class="image__cover"><img src="img/image-1.jpg">
                      <div class="prop">
                        <div class="prop-item">Супертеплая система</div>
                        <div class="prop-item">Антивзлом</div>
                      </div>
                    </div>
                    <div class="products-properties__descr">
                      <div class="products-properties__overlay">
                        <div class="products-name">Входные группы и&nbsp;наружные двери</div>
                        <div class="products-price"> от 45 900Р</div>
                      </div>
                    </div>
                  </div>
                  <div class="products-properties__item">
                    <div class="image__cover"><img src="img/image-1.jpg">
                      <div class="prop">
                        <div class="prop-item">Закалённое стекло</div>
                      </div>
                    </div>
                    <div class="products-properties__descr">
                      <div class="products-properties__overlay">
                        <div class="products-name">Стеклянные двери</div>
                        <div class="products-price"> от 32 000Р</div>
                      </div>
                    </div>
                  </div>
                  <div class="products-properties__item">
                    <div class="image__cover"><img src="img/image-1.jpg">
                      <div class="prop">
                        <div class="prop-item">Повышенная влагостойкость</div>
                      </div>
                    </div>
                    <div class="products-properties__descr">
                      <div class="products-properties__overlay">
                        <div class="products-name">Двери AQUA</div>
                        <div class="products-price"> от 11 000Р</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer-top">
          <div class="footer__scale">
            <div style="background-image: url(img/footer.jpg)"></div>
          </div>
          <div class="l-center">
            <nav class="map__catalog">
              <ul class="map__catalog-item">
                <li><a href="#">Внешние двери и&nbsp;входные конструкции</a>
                  <ul>
                    <li><a href="#">Входные двери внутренние</a></li>
                    <li><a href="#">Входные группы и наружные двери</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Интерьерные решения</a>
                  <ul>
                    <li><a href="#">Двери со скрытой коробкой</a></li>
                    <li><a href="#">Двери с деревянной коробкой</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Встроенные и&nbsp;профильные системы</a>
                  <ul>
                    <li><a href="#">П-профиль</a></li>
                    <li><a href="#">Г-профиль</a></li>
                    <li><a href="#">ПП-прямой профиль для полок</a></li>
                    <li><a href="#">Т-профиль для скрытой стыковки на модульном подвесном потолке </a></li>
                    <li><a href="#">С-провиль для криволинейных конструкций с освещением</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Специализиро&shy;ванные двери</a>
                  <ul>
                    <li><a href="#">Двери противопожарные</a></li>
                    <li><a href="#">Двери AQUA</a></li>
                    <li><a href="#">Входные для технических помещений</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Прозрачные конструкции</a>
                  <ul>
                    <li><a href="#">Профиль Prea</a></li>
                    <li><a href="#">Стеклянные двери</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="map__catalog-item">
                <li><a href="#">Товары народного потребления</a></li>
              </ul>
            </nav>
            <div class="contancts">
              <div class="main__phone"><span>+7 (495) 775 35 68</span></div>
              <ul class="phone__list">
                <li>+7 (495) 775 35 69</li>
                <li>+7 (495) 775 35 68 </li>
                <li>+7 (495) 775 35 68</li>
              </ul>
              <div class="address">г. Москва, РФ, ул. Введенского, д.1, стр.1</div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="l-center">
            <nav class="footer__nav"><a class="footer__nav-item" href="#">О компании</a><a class="footer__nav-item" href="#">Каталог продукции</a><a class="footer__nav-item" href="#">Дилерам</a><a class="footer__nav-item" href="#">Контактная информация</a>
            </nav>
            <div class="developers"><a href="#">Разработка сайта: <span>Flex Media</span></a></div>
          </div>
        </div>
      </footer>
    </div>
    <!--END out-->
    <div class="modal__wrap" data-modal-wrap="callback">
      <div class="modal modal-front">
        <div class="btn-close"></div>
        <div class="modal__title">Форма обратной связи</div>
        <div class="form">
          <form class="js-validate">
            <div class="field">
              <div class="field-head"><span>Ваше имя*</span></div>
              <div class="field-body">
                <input type="text" data-validation="length" data-validation-length="min2">
              </div>
            </div>
            <div class="field">
              <div class="field-head"><span>E-mail*</span></div>
              <div class="field-body">
                <input type="text" data-validation="email">
              </div>
            </div>
            <div class="field">
              <div class="field-head"><span>телефон*</span></div>
              <div class="field-body">
                <input class="numeric" type="text" data-validation="length" data-validation-length="6-20">
              </div>
            </div>
            <div class="field">
              <div class="field-head"><span>сообщение</span></div>
              <div class="field-body">
                <textarea></textarea>
              </div>
            </div>
            <div class="field">
              <button class="btn btn-red" type="submit"><span>Отправить</span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal modal-back">
        <div class="btn-close"></div>
        <div class="modal__title">Благодарим вас!</div>
        <div class="modal__text"> 
          <p>В течение рабочего дня с вами свяжется наш менеджер. Спасибо, что выбрали нас!</p>
        </div>
        <div class="close">Закрыть</div>
      </div>
    </div>
  </body>
</html>