extends _layout

block title
	title 1-0category

block content
	include includes/_header
	.wrapper
		section.head
			.head-bg(style="background-image: url(img/catalog.jpg)")
			.head-wrap
				.head-title Внешние двери и&nbsp;входные конструкции
				ul.breadcrumbs
					-var bread = ['Главная', 'Каталог']
					each name in bread
						li.breadcrumbs-item
							a(href="#") #{name}
		nav.secondary-nav
			ul
				-var current = "Входные двери внутренние"
				mixin scroll(scrollId, title)
					li
						a(data-scroller=scrollId class={active: title === current}) #{title}
				+scroll("#scroll-1", "Входные двери внутренние")
				+scroll("#scroll-2", "Входные группы и наружные двери")
		section.container
				.content
					.l-center
						.row
							.products
								.sc-section(id="scroll-1")
									.title Входные двери внутренние
									.products-preview
											.products-preview__item
												.preview__item-columns.columns-left
													.preview__item-columns-left
														img(src="img/item.jpg")
													.preview__item-columns-right
														.preview__descr
															.preview__descr-container
																.category Входные двери внутренние
																.category-material Гранит
																.category-descr Современные входные металлические двери в квартиру способны выполнять намного более важное назначение, нежели просто конструкция, заполняющая проём.
																.price от 26 250Р
																.badge
																	.badge-item.tips(aria-describedby="tip1")
																		.tooltip#tip1(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-4.png")
																	.badge-item.tips(aria-describedby="tip2")
																		.tooltip#tip2(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-5.png")
																	.badge-item.tips(aria-describedby="tip3")
																		.tooltip#tip3(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-6.png")
																a.btn.btn-red(href="#")
																	span Подробнее
												hr
												.preview__item-columns.columns-right
													.preview__item-columns-left
														img(src="img/item.jpg")
													.preview__item-columns-right
														.preview__descr
															.preview__descr-container
																.category Входные двери внутренние
																.category-material Гранит L
																.category-descr Современные входные металлические двери в квартиру способны выполнять намного более важное назначение, нежели просто конструкция, заполняющая проём.
																.price от 26 250Р
																.badge
																	.badge-item.tips(aria-describedby="tip1")
																		.tooltip#tip1(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-4.png")
																	.badge-item.tips(aria-describedby="tip2")
																		.tooltip#tip2(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-5.png")
																	.badge-item.tips(aria-describedby="tip3")
																		.tooltip#tip3(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-6.png")
																a.btn.btn-red(href="#")
																	span Подробнее
												hr
								.sc-section(id="scroll-2")
									.title Входные группы и наружные двери
									.products-preview
											.products-preview__item
												.preview__item-columns.columns-left
													.preview__item-columns-left
														img(src="img/item.jpg")
													.preview__item-columns-right
														.preview__descr
															.preview__descr-container
																.category Входные двери внутренние
																.category-material Гранит
																.category-descr Современные входные металлические двери в квартиру способны выполнять намного более важное назначение, нежели просто конструкция, заполняющая проём.
																.price от 26 250Р
																.badge
																	.badge-item.tips(aria-describedby="tip1")
																		.tooltip#tip1(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-4.png")
																	.badge-item.tips(aria-describedby="tip2")
																		.tooltip#tip2(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-5.png")
																	.badge-item.tips(aria-describedby="tip3")
																		.tooltip#tip3(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-6.png")
																a.btn.btn-red(href="#")
																	span Подробнее
												hr
												.preview__item-columns.columns-right
													.preview__item-columns-left
														img(src="img/item.jpg")
													.preview__item-columns-right
														.preview__descr
															.preview__descr-container
																.category Входные двери внутренние
																.category-material Гранит L
																.category-descr Современные входные металлические двери в квартиру способны выполнять намного более важное назначение, нежели просто конструкция, заполняющая проём.
																.price от 26 250Р
																.badge
																	.badge-item.tips(aria-describedby="tip1")
																		.tooltip#tip1(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-4.png")
																	.badge-item.tips(aria-describedby="tip2")
																		.tooltip#tip2(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-5.png")
																	.badge-item.tips(aria-describedby="tip3")
																		.tooltip#tip3(role="tooltip")
																			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
																		img(src="img/icons/icon-6.png")
																a.btn.btn-red(href="#")
																	span Подробнее
												hr
	include includes/_footer