extends _layout

block title
	title Title of template

block content
	include includes/_header
	.wrapper
		section.intro#intro
			.intro__cover(style="background-image: url(img/intro.jpg);")
			.intro__wrap
				.intro__content
					.intro__content-wrap
						.intro__content-lead
							span Откройте возможности дизайна и&nbsp;функциональности дверей 
								span.grey bkt 
								span.red home
				.intro__overlay
				.intro__hover
					.intro-hover-item(style="background-image: url(img/silence.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/time.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/nature.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/fire.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/water.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
				.intro__content-grid
					.intro__content-grid-action
						.intro__content-grid-item(data-color="#1bcabc")
							span.soundless.in(style="background-image: url(../img/icons/soundless.png)")
							span.soundless.out(style="background-image: url(../img/icons/water.png)")
						.intro__content-grid-item(data-color="#821bca")
							span.time.in(style="background-image: url(../img/icons/time.png)")
							span.time.out(style="background-image: url(../img/icons/soundless.png)")
						.intro__content-grid-item(data-color="#34ca1b")
							span.eco.in(style="background-image: url(../img/icons/eco.png)")
							span.eco.out(style="background-image: url(../img/icons/time.png)")
						.intro__content-grid-item(data-color="#4f0b00")
							span.fire.in(style="background-image: url(../img/icons/fire.png)")
							span.fire.out(style="background-image: url(../img/icons/eco.png)")
						.intro__content-grid-item(data-color="#0060ff")
							span.water.in(style="background-image: url(../img/icons/water.png)")
							span.water.out(style="background-image: url(../img/icons/fire.png)")
			.intro__scroll
				.intro-icon
					span
				.intro-text
					span Листайте ниже
		section.container
			.content
				.l-center
					.row
						.title Популярные категории
						.category-product
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Входные группы и наружные двери
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Двери AQUA
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Двери со скрытой коробкой
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Входные группы и наружные двери
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Входные двери внутренние
					hr
					.row
						.cooperation
							.cooperation__item
								.image__cover
									img(src="img/icons/icon-1.png")
								.overlay
									.cooperation__title Качество
									.cooperation__text Мы используем только безупречные материалы в производстве дверей
							.cooperation__item
								.image__cover
									img(src="img/icons/icon-2.png")
								.overlay
									.cooperation__title 10 лет гарантии
									.cooperation__text Полное гарантийное обслуживание с момента покупки
							.cooperation__item
								.image__cover
									img(src="img/icons/icon-3.png")
								.overlay
									.cooperation__title Современный дизайн
									.cooperation__text Используется при изготовлении наших дверей, не гниёт и очень долговечно
					hr
					.row
						.title Популярные товары
						.products-popular
							.products-popular__gallery
								.products-gallery
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.badge
												.badge-item.tips(aria-describedby="tip1")
													.tooltip#tip1(role="tooltip")
														p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
													img(src="img/icons/icon-4.png")
												.badge-item.tips(aria-describedby="tip2")
													.tooltip#tip2(role="tooltip")
														p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
													img(src="img/icons/icon-5.png")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.badge
												.badge-item
													img(src="img/icons/icon-6.png")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.badge
												.badge-item
													img(src="img/icons/icon-4.png")
												.badge-item
													img(src="img/icons/icon-5.png")
												.badge-item
													img(src="img/icons/icon-6.png")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.badge
												.badge-item
													img(src="img/icons/icon-4.png")
												.badge-item
													img(src="img/icons/icon-6.png")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.badge
												.badge-item
													img(src="img/icons/icon-4.png")
												.badge-item
													img(src="img/icons/icon-5.png")
												.badge-item
													img(src="img/icons/icon-6.png")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.badge
												.badge-item
													img(src="img/icons/icon-4.png")
												.badge-item
													img(src="img/icons/icon-5.png")
												.badge-item
													img(src="img/icons/icon-6.png")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
								.rotator-navi
									.rotator-arrow.rotator-arrow__left
									.rotator-counter
										.rotator__counter-current 1
										.rotator__counter-separator /
										.rotator__counter-all 4
									.rotator-arrow.rotator-arrow__right
					hr
					.row
						.title Специальные свойства
						.products-properties
							.products-properties__item
								.image__cover
									img(src="img/image-1.jpg")
									.prop
										.prop-item Супертеплая система
										.prop-item Антивзлом
								.products-properties__descr
									.products-properties__overlay
										.products-name Входные группы и&nbsp;наружные двери
										.products-price  от 45 900Р
							.products-properties__item
								.image__cover
									img(src="img/image-1.jpg")
									.prop
										.prop-item Закалённое стекло
								.products-properties__descr
									.products-properties__overlay
										.products-name Стеклянные двери
										.products-price  от 32 000Р
							.products-properties__item
								.image__cover
									img(src="img/image-1.jpg")
									.prop
										.prop-item Повышенная влагостойкость
								.products-properties__descr
									.products-properties__overlay
										.products-name Двери AQUA
										.products-price  от 11 000Р
	include includes/_footer