extends _layout

block title
	title Title of template

block content
	include includes/_header
	.wrapper
		section.intro#intro
			.intro__cover(style="background-image: url(img/intro.jpg);")
			.intro__wrap
				.intro__content
					.intro__content-wrap
						.intro__content-lead
							span Откройте возможности дизайна и&nbsp;функциональности дверей 
								span.grey bkt 
								span.red home
				.intro__overlay
				.intro__hover
					.intro-hover-item(style="background-image: url(img/silence.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/time.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/nature.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/fire.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/water.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
				.intro__content-grid
					.intro__content-grid-action
						.intro__content-grid-item(data-color="#1bcabc")
							span
						.intro__content-grid-item(data-color="#821bca")
							span
						.intro__content-grid-item(data-color="#34ca1b")
							span
						.intro__content-grid-item(data-color="#4f0b00")
							span
						.intro__content-grid-item(data-color="#0060ff")
							span
			.intro__scroll
				.intro-icon
					span
				.intro-text
					span Листайте ниже
		section.container
			.content
				.l-center
					.row
						.title Популярные категории
						.category-product
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Входные группы и наружные двери
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Двери AQUA
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Двери со скрытой коробкой
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Входные группы и наружные двери
							.category-product__item
								.category-product__cover
								.image__cover
									img(src="img/image.jpg" alt="")
								.category-product__title Входные двери внутренние
			.content
				.l-center
					.row
						.cooperation
							.cooperation__item
								.image__cover
									img(src="img/icons/icon-1.png")
								.overlay
									.cooperation__title Качество
									.cooperation__text Мы используем только безупречные материалы в производстве дверей
							.cooperation__item
								.image__cover
									img(src="img/icons/icon-2.png")
								.overlay
									.cooperation__title 10 лет гарантии
									.cooperation__text Полное гарантийное обслуживание с момента покупки
							.cooperation__item
								.image__cover
									img(src="img/icons/icon-3.png")
								.overlay
									.cooperation__title Современный дизайн
									.cooperation__text Используется при изготовлении наших дверей, не гниёт и очень долговечно
			.content
				.l-center
					.row
						.title Популярные товары
						.products-popular
							.products-popular__gallery
								.products-gallery
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
									.products-item
										a(href="#")
											.image__cover
												img(src="img/door.jpg" alt="")
											.products-descr
												.name-item Двери с деревянной коробкой
												.name-collection Морфей
												.price от 21 000Р
								.products-navi
									.products-arrow.products-arrow__left
									.products-counter
										.products__counter-current 1
										.products__counter-separator /
										.products__counter-all 4
									.products-arrow.products-arrow__right
			.content
				.l-center
					.row
						.title Специальные свойства
						.products-properties
							.products-properties__item
								.image__cover
									img(src="img/image-1.jpg")
								.products-properties__descr
									.products-name Входные группы и&nbsp;наружные двери
									.products-price  от 45 900Р
							.products-properties__item
								.image__cover
									img(src="img/image-1.jpg")
								.products-properties__descr
									.products-name Стеклянные двери
									.products-price  от 32 000Р
							.products-properties__item
								.image__cover
									img(src="img/image-1.jpg")
								.products-properties__descr
									.products-name Двери AQUA
									.products-price  от 11 000Р
	include includes/_footer