extends _layout

block title
	title Title of template

block content
	include includes/_header
	.wrapper
		section.intro#intro
			.intro__cover(style="background-image: url(img/intro.jpg);")
			.intro__wrap
				.intro__content
					.intro__content-wrap
						.intro__content-lead
							span Откройте возможности дизайна и&nbsp;функциональности дверей 
								span.grey bkt 
								span.red home
						.intro__content-grid
							.intro__content-grid-action
								.intro__content-grid-item(data-color="#1bcabc")
									span
								.intro__content-grid-item(data-color="#821bca")
									span
								.intro__content-grid-item(data-color="#34ca1b")
									span
								.intro__content-grid-item(data-color="#4f0b00")
									span
								.intro__content-grid-item(data-color="#0060ff")
									span
				.intro__overlay
				.intro__hover
					.intro-hover-item(style="background-image: url(img/silence.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.icon
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/time.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.icon
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/nature.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.icon
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/fire.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.icon
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
					.intro-hover-item(style="background-image: url(img/water.jpg);")
						.intro-hover-item__cover
						.intro-hover-item__content
							.icon
							.text
								.title
									span Противопожарные
								.descr
									| По периметру полотна вклеивается терморасширяющаяся лента PROMASEL, вспенивающаяся при пожаре и блокирующаяся полотно в&nbsp;дверной коробке.
								a(href="#" class="btn")
									span В каталог
			.intro__scroll
				.intro-icon
					span
				.intro-text
					span Листайте ниже
	include includes/_footer